{% extends 'base.html'%}
{% block title%}About{% endblock %}
{% block content %}
{% block stylesheet%}
<style>
    .sub{
        width: 10em;
        height: 7em;
    }
</style>
{% endblock %}
<div class="container-fluid d-flex flex-sm-column-reverse flex-lg-row justify-content-lg-between">
    <div class="">
        <h3 class="fs-1 text-center">About Us</h3>
        <p class="fs-4 text-center">We are Optimizer from Super AI Engineer Project who takes challenges on AI development to return profits to society. We aim to optimize results and enhance your strategy in business, education, research, and other industries.
        </p>
    </div>
</div>
<div class="container-fluid text-center mt-3 mb-3">
    <h2>Sponsored by</h2>
</div>
<div class="container-fluid d-flex mt-5 justify-content-around">
    <img src="{{url_for('static', filename='images/spon1.png')}}" alt="about" class="img-fluid sub">
    <img src="{{url_for('static', filename='images/spon2.png')}}" alt="about" class="img-fluid sub">
    <img src="{{url_for('static', filename='images/spon3.png')}}" alt="about" class="img-fluid sub">
</div>

{% endblock %}