{% extends 'base.html' %}
{% block title %}Optimizer{% endblock %}
{% block styelsheet %}
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Inter:wght@700&display=swap');
        #backgroud-img {
            background-image: url("{{url_for('static', filename='images/bg.png')}}");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 30rem;
        }
        #heading {
            background: rgba(255, 255, 255, 0.4);
            background-size: cover;
            font-family: 'Aldrich', sans-serif;
            margin: 0 auto;
            padding: 0;
            
        }
        #sub-img-1 {
            width:10rem;
            height:10rem;
            padding:0;
            margin:0;
        }
        #img-2 {
            width: 17rem;
            height: 21rem;
        }
        #vector1 {
            width: 9rem;
            height: 8rem;
            margin: 0 auto;
            margin-top: 1rem;
        }
        #vector2, #vector3{ 
            width: 7.5rem;
            height: 8rem;
            margin: 0 auto;
            margin-top: 1rem;
        }
    </style>
{% endblock %}
{% block header %}
    <div class="container-fluid d-flex align-items-center p-0" id="backgroud-img">
        <h1 id="heading" class="text-center p-lg-5 p-sm-3 w-100">Optimize your strength and discover opportunities with Optimizer!<br><a href="{{url_for('blog.product')}}" class="btn btn-light">Try now !<a><h1>
    </div>
{% endblock %}
{% block content %}
    <div id="sub-content-1" class="container-fluid d-flex justify-content-around align-items-center mt-5 mb-5">
        <h4>"Utilize the power of AI to magnify your strategies."</h4>
        <img id="sub-img-1" src="{{url_for('static', filename='images/Ellipse 1.png')}}">
    </div>
    <div id="sub-content-2" class="container-fluid d-flex justify-content-around align-items-center mt-5 mb-4 bg-light pt-3 pb-3">
        <div id="sub-img-2">
            <img id="img-2" src="{{url_for('static', filename='images/file1.png')}}">
        </div>
        <div id="content2">
            <h5 class="mb-lg-5 mt-lg-5">WHY?</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted bg-light">Have you ever needed to find your competitive advantage for your project ? </li>
                <li class="list-group-item text-muted bg-light">Have you ever wondered why other’s articles are popular?</li>
                <li class="list-group-item text-muted bg-light">What are interesting topics?</li>
                <li class="list-group-item text-muted bg-light">What are they already mentioned?</li>
                <li class="list-group-item text-muted bg-light">What are the strength of your content?</li>
            </ul>
        </div>
    </div>

        <div class="row g-4 m-3">
            <div class="col-lg-4 col-sm-12">
              <div class="card">
                <img src="{{url_for('static', filename='images/Vector.png')}}" id="vector1" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title mt-3 text-center bg-secondary text-light pt-2 pb-2">SCAN</h5>
                    <p class="card-text text-center mt-4 mb-4">Scan the whole document with the help of word segmentation and named-entity recognition (NER) to extract keywords.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="card pb-lg-4">
                <img src="{{url_for('static', filename='images/vector2.png')}}" id="vector2" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title mt-3 text-center bg-secondary text-light pt-2 pb-2">STRENGTH</h5>
                    <p class="card-text text-center mt-4 mb-4">Find your strength points of the context to improve search engine optimization (SEO).</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="card">
                <img src="{{url_for('static', filename='images/vector3.png')}}" id="vector3" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title mt-3 text-center bg-secondary text-light pt-2 pb-2">STRONGER</h5>
                    <p class="card-text text-center mt-4 mb-4">Seek for unmet opportunities to enhance ideas, research topics, marketing strategies, and improve SEO.</p>
                </div>
              </div>
            </div>
        </div>
        
    </div>
{% endblock %}