@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
nav {
    font-family: 'Inter', sans-serif;
}

header {
    font-family: 'Inter', sans-serif;
}

content {
    font-family: 'Inter', sans-serif;
}