<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Easily optimize your strength and opportunities with Optimizer"
    <title>Optimizer, optimize your solution</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="topnav" id="myTopnav">
        <a href="https://optimizer.superai.me/" target="_blank" class="active">
            <img src="img\logo\optimizer_b.png" class="logo_optimizer" id="logo_nav" alt="">
        </a>
        <a href="">HOME</a>
        <a href="">ABOUT</a>
        <a href="">USE CASES</a>
        <a href="">PLANS</a>
        <a href="" target="_blank">CONTACT</a>
        <a href=""></a>
        <a href="javascript:void(0);" class="icon" onclick="hambergerNav()">
            <i class="fa fa-bars"></i>
        </a>

        <!-- <div style="padding-left:16px">
            <h2>Responsive Topnav Example</h2>
            <p>Resize the browser window to see how it works.</p>
        </div> -->
    </div>
</body>
</html>