{% extends 'base.html' %}

{% block header %}
  <h1 class="text-center">Log In</h1>
{% endblock %}

{% block content %}
  <div class="container">
    <form  method="post">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="username" class="form-control" id="username" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password">
      </div>
      <button type="submit" class="btn btn-secondary">Log In</button>
    </form>
  </div>
  
{% endblock %}